<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="sidebar"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
  
    <ion-content>
      <ion-card>
        <center><img src="https://stickershop.line-scdn.net/stickershop/v1/product/15220/LINEStorePC/main.png;compress=true"></center>
        <ion-card-header>
          <center><ion-card-title><b>YUNIKA LAURENSIA</b></ion-card-title></center>
          <center><ion-card-subtitle>Kelas A - 22203</ion-card-subtitle></center>
        </ion-card-header>
        <ion-card-content style="color : black; text-align: justify;">
          Dalam pengerjaan project ini, saya banyak dibantu oleh teman sekelas saya, Muhammad Riza K, 
          terutama dalam proses pembuatan model untuk setiap item dan service-service yang dibutuhkan. 
          Selain mendapatkan bantuan dari Riza, selama pengerjaan, saya banyak terbantu oleh module praktikum dari minggu kedua sampai ketujuh.
          Saya juga banyak membaca dokumentasi dari <a href="https://ionicframework.com/docs/components">https://ionicframework.com/docs/components</a>
          untuk membuat tampilan dari aplikasi. 

        </ion-card-content>
      </ion-card>
    </ion-content>
